@tailwind base;
@tailwind components;
@tailwind utilities;
.line-clamp-2 {
  display: -webkit-box; /* Use the WebKit box model */
  -webkit-box-orient: vertical; /* Vertical orientation */
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  overflow: hidden; /* Hide overflow */
}
